<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Loja</title>
</head>
<body>
    <header class="header header-bg container-border">
        <h1 class="header-title header-bg container-color">
            <a class="header-link header-bg container-color" href="/">Loja Venâncio</a>
        </h1>
    </header>
    <nav class="navbar container-bg container-border">
        <ul class="navbar-items container-bg">
            <li class="container-bg">
                <a class="container-bg container-border" href="/">Home</a>
            </li>
            <li class="container-bg">
                <a class="container-bg container-border" href="/produtos">Produtos</a>
            </li>
            <li class="container-bg">
                <a class="container-bg container-border" href="/clientes">Clientes</a>
            </li>
            <li class="container-bg">
                <a class="container-bg container-border" href="/pedidos">Pedidos</a>
            </li>
            <li class="container-bg">
                <a class="container-bg container-border" href="/pedidos">
                    <img class="navbar-perfil" src="<%= %>">
                </a>
            </li>
        </ul>
    </nav>