<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Loja</title>
</head>
<body>
    <header class="header">
        <h1 class="header-title">
            <a class="header-link" href="/">Loja Venâncio</a>
        </h1>
    </header>
    <nav class="navbar container-bg">
        <ul class="navbar-items">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/produtos">Produtos</a>
            </li>
            <li>
                <a href="/clientes">Clientes</a>
            </li>
            <li>
                <a href="/pedidos">Pedidos</a>
            </li>
        </ul>
        <span style="margin-left: auto;">
            <ul class="navbar-items">
                <li>
                    <% if (typeof loggedOut === "undefined") { %>
                        <a href="/logout">Fazer Logout</a>
                    <% } else{ %>
                        <a href="/login">Fazer Login</a>
                    <% } %>
                </li>
            </ul>
        </span>
    </nav>