<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Loja</title>
</head>
<body>
    <nav class="navbar container-color">
        <ul class="navbar-link container-color">
            <li class="container-color">
                <a class="container-color" href="/">Home</a>
            </li>
            <li class="container-color">
                <a class="container-color" href="/clientes">Clientes</a>
            </li>
            <li class="container-color">
                <a class="container-color" href="/produtos">Produtos</a>
            </li>
            <li class="container-color">
                <a class="container-color" href="/pedidos">Pedidos</a>
            </li>
        </ul>
    </nav>