<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Loja</title>
</head>
<body>
    <nav class="navbar navcolor">
        <ul class="navbar-link navcolor">
            <li class="navcolor">
                <a class="navcolor" href="/">Home</a>
            </li>
            <li class="navcolor">
                <a class="navcolor" href="/clientes">Clientes</a>
            </li>
            <li class="navcolor">
                <a class="navcolor" href="/produtos">Produtos</a>
            </li>
            <li class="navcolor">
                <a class="navcolor" href="/pedidos">Pedidos</a>
            </li>
        </ul>
    </nav>