/* Cores da Página */
:root{
    --amarelo: #d8b24a;
    --amareloClaro: #fde9b0;
    --cinzaEscuro: #272626;
}

/* Style GERAL */
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--cinzaEscuro);
}

body{
    background-color: #f5f5f5;
}

.container{
    display: flex;
    justify-content: center;
}

.container-bg{
    background-color: var(--amarelo);
}

.container-page{
    display: flex;
    justify-content: center;
    width: 100%;
}

.content{
    margin-top: 80px;
    padding: 1rem 0;
}

.link{
    text-decoration: none;
}

.link:hover{
    color: var(--cinzaEscuro);
    transition: background 0.4s;
}

/* Style da HEADER */
.header{
    align-content: center;
    background-color: var(--cinzaEscuro);
    border-radius: 18px;
}

.header-title{
    text-align: center;
}

.header-link{
    color: var(--amareloClaro);
    text-decoration: none;
}

/* Style da NAVBAR */
.navbar{
    border-radius: 18px;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;
}

.navbar-items{
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar-items li{
    margin: 0 2vw;
}

.navbar-items a{
    border-radius: 30px;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0.1em;
    padding: 0.7em 1em;
    text-decoration: none;
    transition: background 0.4s;
}

.navbar-items a:hover{
    background-color: var(--amareloClaro);
    font-size: 1.3em; 
}

/* Style do Formulário */
.form-container{
    background-color: var(--amareloClaro);
    border: 1px solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding: 20px;
    max-width: 500px;
}
input, select{
    border: 2px solid;
    border-radius: 15px;
    padding: 5px;
    margin-top: 5px;
}

.form-groups{
    margin: 5px 0px 5px 0;
}

.inline-fields{
    margin: 5px 0px 5px 0;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.input-bigText{
    width: 20rem;
}

.input-mediumText{
    width: 12rem;
}
.input-smallText{
    width: 7rem;
}

.form-button{
    background-color: var(--cinzaEscuro);
    border: none;
    border-radius: 15px;
    color: var(--amareloClaro);
    cursor: pointer;
    float: right;
    font-size: 16px;
    margin-top: 15px;
    transition: background-color 0.4s ease;
    height: 3rem;
    width: 6rem; 
}

.form-button:hover {
    font-size: 18px;
}

.form-button:active {
    font-size: 14px;
}

/* Style da TABELA */
table{
    background-color: var(--amareloClaro);
    border: 1px solid;
    border-radius: 10px;
}

th, td{
    border: 2px solid;
    border-radius: 10px;
    padding: 8px;
    text-align: center;
}

th{
    background-color: var(--amarelo);
}

td{
    background-color: #f5f5f5;
}

.edit{
    color: var(--amarelo);
}

.delete{
    color: #ec0a0a;
}

/* Style do FOOTER */
.footer-text{
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.footer{
    align-content: center;
    border-radius: 18px;
    height: 80px;
    width: 100%;
}